.advantages{
  padding-top: 50px;
  padding-bottom: 27px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    padding-top: 43px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    //max-width: 302px;
    &__tree{
      position: relative;
      background-image: url("../img/sprite.svg#tree");
      background-repeat: no-repeat;
      background-size: 44px;
      object-fit: cover;
      &::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $secondary;
        z-index: -1;
        bottom:89px;
      }
    }
    &__moto{
      position: relative;
      background-image: url("../img/sprite.svg#moto");
      background-repeat: no-repeat;
      background-size: 44px;
      object-fit: cover;
      &::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $secondary;
        z-index: -1;
        bottom:78px;
      }
    }
    &__helmet{
      position: relative;
      background-image: url("../img/sprite.svg#helmet");
      background-repeat: no-repeat;
      background-size: 44px;
      object-fit: cover;
      //padding-top: 40px;
      &::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $secondary;
        z-index: -1;
        bottom:89px;
      }
    }
    &__personal{
      position: relative;
      background-image: url("../img/sprite.svg#personal");
      background-repeat: no-repeat;
      background-size: 44px;
      object-fit: cover;
      &::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $secondary;
        z-index: -1;
        bottom:89px;
      }
    }
    &__helmet,
    .advantages-item__tree,
    .advantages-item__moto,
    .advantages-item__personal,{
    }
    &__title{
      @extend %montserrat-600;
      font-size: 18px;
      line-height: 108.7%;
      margin-bottom: 33px;
    }
    &__text{
      @extend %montserrat-400;
      font-size: 16px;
      line-height: 108.7%;
      max-width: 302px;
    }
  }
}